html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #cfd3d4 ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}
.bg-pink{
    background-color: #162841;
}
.navbar-pink{
    background-color: #f3e7e7;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.formuario {
     position: relative;
    top: 60%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
   background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    border-radius: 2%;
}
.formuario h2 {
    font-family: Trebuchet MS;
    color: #fff;
    font-weight: 100;
    margin-bottom: 8%;
}
.formuario h1 {
    font-family: Trebuchet MS;
    color: #fff;
    font-weight: 100;
    margin-bottom: 8%;
}
.formuario input{
    width: 100%;
    margin-bottom: 6%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
#boton{
    background: #1F618D;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    
}
#boton:hover{
    cursor: pointer;
}

.cuentas {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cuentas h2 {
    font-family: Trebuchet MS;
    color: #ffffff;
    /*font-size: 40px;*/
    font-weight: 100;
    margin-bottom: 8px;
}

.cuentas p {
    color: #ffffff;
    font-size: 24px;
    font-weight: lighter;
}

.btn-modify {
    color: #777475;
    border-color: #c01c68bd;
    background-color: #f3e7e7;
}
