html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #cfd3d4 ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}
.bg-pink{
    background-color: #162841;
}
.navbar-light .navbar-nav  .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.izquierda{
    position: relative;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #213E4A;
    border-radius: 2%;
}

.izquierda .nombre{
    color: #213E4A;

}

.tab {
     position: relative;
    left: 50%;
    top: 60%;
    text-align: center;
    border-collapse: collapse;
    transform: translate(-50%, -50%);
    width: 100%;
}
.tab th{
    padding: 20px;
}
.tab td{
    padding: 20px;
}
.tab thead{
    background-color: #5D6D7E;
    border-bottom: solid 5px #34495E;
    color: white;
}
.tab tr:nth-child(even){
    background-color: #ddd;
}
.tab tr:hover td{
    background-color: #707B7C;
    color: white;
}
.btn-modify {
    color: #777475;
    border-color: #c01c68bd;
    background-color: #f3e7e7;
}