html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #d67378 ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: montserrat;
}

.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #888F6E;

}
.bg-pink{
    background-color: #f3e7e7;
    color:#c51174;
}
.navbar-pink{
    background-color: #f3e7e7;
}
.navbar-light .navbar-nav .nav-link{
    color: #c5166e;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}





/*header{
    padding: 20%;
    margin-top: 0;
    color: #fff;
    background-color: #687985;
    text-align: center;
}*/

.centro{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
     background: #ffff;
 
}

.centro h1{
    font-family:Trebuchet MS;
    color: #d67378;
    /*font-size: 60px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8%;
}



.centro p{
    color: #7a5355;
    font-size: 24px;
    font-weight: lighter;
}

.cuentas{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffff;
 
}
.cuentas h2{
    font-family:Trebuchet MS;
    color: #d67378;
    /*font-size: 40px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}

.cuentas h3{
    font-family:Trebuchet MS;
    color: #5b801c;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas p{
    color: #7a5355;
    font-size: 24px;
    font-weight: lighter;
}

.btn-modify {
    color: #777475;
    border-color: #c01c68bd;
    background-color: #f3e7e7;
}