html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #cfd3d4 ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}
.bg-pink{
    background-color: #162841;
    color:#c51174;
}
.navbar-pink{
    background-color: #f3e7e7;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.centro{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(1,0,0,0.5);
    text-align: center;
    border-radius: 3%;   
}
.centro input{
    width: 80%;
    margin-bottom: 3%;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 10px;
}
.centro input1{
    position: absolute;
    left: 320px;
    top: 170px;
    width: 180px;
}
.centro input2{
    position: absolute;
    left: 650px;
    top: 170px;
    width: 180px;
}
.centro texto2{
    position: absolute;
    top: 177px;
    left: 550px;
}
.centro boton{
    position: absolute;
    left: 900px;
    top: 160px;
    width: 140px;
    height: 60px;
    background: #1F618D;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    
}
.centro boton:hover{
    cursor: pointer;
}
.centro h1{
    font-family:Trebuchet MS;
    color: #d67378;
    /*font-size: 60px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8%;
}
.centro p{
    color: #7a5355;
    font-size: 24px;
    font-weight: lighter;
}

.cuentas {
 position: relative;
    left: 50%;
    top: 60%;
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    transform: translate(-50%, -50%);
    width: 100%;
}
.cuentas h2{
    font-family:Trebuchet MS;
    color: #d67378;
    /*font-size: 40px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas h3{
    font-family:Trebuchet MS;
    color: #5b801c;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas p{
    color: #7a5355;
    font-size: 24px;
    font-weight: lighter;
}
.cuentas th, td{
    padding: 20px;
}
.cuentas thead{
    background-color: #5D6D7E;
    border-bottom: solid 5px #34495E;
    color: white;
}
.cuentas tr:nth-child(even){
    background-color: #ddd;
}
.cuentas tr:hover td{
    background-color: #707B7C;
    color: white;
}
.btn-modify {
    color: #777475;
    border-color: #c01c68bd;
    background-color: #f3e7e7;
}